<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css">



</head>
<body>

    <label for="myfile">Select a file:</label>
    <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="myfile" name="myfile">
        <input class="input is-large" type="name" name="category_name" placeholder=" Enter Category Name ">
        <input class="input is-large" type="name" name="name" placeholder=" Name ">
        <input class="input is-large" type="name" name="Description" placeholder=" Description ">  
        
        <button type="submit"> Upload </button>
    </form>


</body>
</html>